[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
ply = "*"
flask = "*"
flask-restplus = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-cors = "*"
pyjwt = "*"
pylatex = "*"

[dev-packages]
pytest = "*"
pipenv = "*"
mypy = "*"
autoflake = "*"

[requires]
python_version = "3.7"
